@media(max-width: 768px) {
  body {}

  header {
    padding-bottom: 2rem;

    #branding,
    nav,
    nav li {
      float: none;
      text-align: center;
      width: 100%;
    }
  }

  #showcase h1 {
    margin-top: 4rem;
  }

  #newsletter {
    button {
      display: block;
      width: 100%;
    }

    form input[type="email"] {
      width: 100%;
      margin-bottom: .5rem;
    }

    h1,
    form {
      float: none;
      text-align: center;
      width: 100%;
    }
  }

  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }

  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  .quote {
    button {
      display: block;
      width: 100%;
    }

    input {
      width: 100%;
      margin-bottom: .5rem;
    }

    textarea {
      width: 100%;
      margin-bottom: .5rem;
    }

  }
}