@mixin commonFloatTextWidth {
  float: none;
  text-align: center;
  width: 100%;
}

@mixin commonWidthMargin {
  width: 100%;
  margin-bottom: .5rem;
}


@media(max-width: 768px) {
  body {}

  header {
    padding-bottom: 2rem;

    #branding,
    nav,
    nav li {
      @include commonFloatTextWidth;
    }
  }

  #showcase h1 {
    margin-top: 4rem;
  }

  #newsletter {
    button {
      display: block;
      width: 100%;
    }

    form input[type="email"] {
      @include commonWidthMargin;
    }

    h1,
    form {
      @include commonFloatTextWidth;
    }
  }

  #boxes .box {
    @include commonFloatTextWidth;
  }

  article#main-col,
  aside#sidebar {
    @include commonFloatTextWidth;
  }

  .quote {
    button {
      display: block;
      width: 100%;
    }

    input {
      @include commonWidthMargin;
    }

    textarea {
      @include commonWidthMargin;
    }

  }
}